@{
	ViewBag.Title = "New Post mBlogEngine";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>New Post mBlogEngine</h1>
            </div>
        </div>
        <div id="main">
            At this page you can manager mBlogEngine's post
        </div>
        <div id="footer">
        </div>
    </div>
</body>
</html>
