@{
	ViewBag.Title = "Setup mBlogEngine";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>Setup mBlogEngine</h1>
            </div>
        </div>
        <div id="main">
            At this page you can setup mBlogEngine
        </div>
        <div id="footer">
        </div>
    </div>
</body>
</html>
